
android/app/build/
android/capacitor-cordova-android-plugins/build/
android/build/
*.cjs
playstore-icon*.png


node_modules/


android/keystore.properties
carcareconnect.keystore
*.keystore


.env.local
.env
